---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in paginator.posts -%}
        <li>            
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    <style type="text/css">
        .pagination a, .pagination span {
          padding: 7px 18px;
          border: 1px solid #eee;
          margin-left: -2px;
          margin-right: -2px;
          background-color: #ffffff;
          display: inline-block;    
        }
      
      .pagination a,.Previous-next a {    
          &:hover {
              background-color: #00c853;
              color: #fff;
          }
       }
       .next {
          float: right;
      }
      
      .pagination {
          margin-bottom: 15px;   
       }
      </style>
    {% include pagination.html %}
    {%- endif -%}
    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
        <a style="float: right" href="{{ "/leetcode/" | relative_url }}">LeetCode 游戏</a>
        <a style="float: right" href="{{ "/design-pattens/" | relative_url }}">设计模式总结||</a>
    </p>
    
</div>