---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<style type="text/css">
  .pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;    
  }

.pagination a,.Previous-next a {    
    &:hover {
        background-color: #00c853;
        color: #fff;
    }
 }
 .next {
    float: right;
}

.pagination {
    margin-bottom: 15px;   
 }
</style>
<div class="Previous-next">
        {% if page.previous.url %}
          <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
</div>
<!-- Giscus 评论容器 -->
<div id="giscus"></div>
<!-- 引入 Giscus 的 JavaScript 文件 -->
<script src="https://giscus.app/client.js"
        data-repo="zuohd/giscus-demo"
        data-repo-id="R_kgDOOfvy5A"
        data-category="Announcements"
        data-category-id="DIC_kwDOOfvy5M4Cpd8P"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>